# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: ci-test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: Hiten
        options: >-
          --health-cmd "pg_isready -U root"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
      - name: Prepare .env for CI
        run: |
          cp .env.example .env
          sed -i "s/localhost/postgres/" .env
          sed -i "s/DB_USER=root/DB_USER/root/" .env
          sed -i "s/DB_PASSWORD=SituBen/DB_PASSWORD/secret/" .env
          sed -i "s/DB_NAME=Hiten/DB_NAME/Hiten/" .env
      - name: Run tests
        run: make Test

