# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: ci-test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_DB: Hiten
          POSTGRES_USER: root
          POSTGRES_PASSWORD: SituBen
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        # post
        ports: 
          - 5433:5432
        


    steps:
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Checkout code into the module directory
      uses: actions/Checkout@v4

    - name: Set up environment
      run: |
        cp .env.example .env
        sed -i "s/password/${{ secrets.POSTGRES_PASSWORD }}/" .env
        sed -i "s/root/${{ secrets.POSTGRES_USER }}/" .env
        sed -i "s/Hiten/${{ secrets.POSTGRES_DB }}/" .env


    - name: Install golang-migrate
      run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.18.3/migrate.linux-amd64.tar.gz | tar xvz
        sudo mv migrate /usr/bin
        which migrate

    - name: Run Migration
      run: make MigrateUp

      
    - name: test
      run: make Test
